
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p><%= p.text %></p>
        </div>
        <div class="card-action">
          <% if user_signed_in? && current_user.id == p.user_id %>
            <%= link_to "/posts/#{p.id}/edit", method: :get, class: "waves-effect waves-light btn-small" do %>
              EDIT<i class="material-icons right">brush</i>
            <% end %>
            <%= link_to "/posts/#{p.id}", method: :delete, class: "waves-effect waves-light btn-small" do %>
              DELETE<i class="material-icons right">clear</i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>