<div class="row">
  <div class="col s12 m6 offset-m3">
    <% @posts.each do |post| %>
    <div class="card">
      <div class="card-content red-text">
          <p><%= post.text %></p>
          <% if user_signed_in? && current_user.id == post.user_id %>
            <%= link_to "delete", "/posts/#{post.id}", method: :delete %>
          <% end %>
      </div>
      <div class="card-action">
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="container center">
  <div class="text-center">
    <%= paginate(@posts) %>
  </div>
</div>
