  <section class="conteiner">
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
        </div>
        <div class="col-md-10 col-md-offset-1">
          <%= render partial: "post", locals: { p: post } %>
        </div>
        <div class="col-md-1 col-md-offset-1">
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
        <%= paginate(@posts) %>
        </div>
    </div>
  </section>